p {
  font-family: Lato;
}

.item-center {
  align-items: center;
  justify-items: center;
}

.ag-header-cell-label {
  justify-content: center;
}

.title {
  font-size: 200%;
  font-family: Georgia;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  padding: 20px 0px;
}

ag-grid-angular {
  --ag-background-color: #6cc24a;
  --ag-foreground-color: #000000;
  --ag-odd-row-background-color: ;
  --ag-header-background-color: #c9c9c9;

  font-size: 14px;
}
