.ag-theme-alpine {
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 175%;
  font-family: Georgia;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  padding: 20px 0px;
}

ag-grid-angular {
  --ag-background-color: #6cc24a;
  --ag-foreground-color: #000000;
  --ag-odd-row-background-color: ;
  --ag-header-background-color: #c9c9c9;
  text-align: center;
  width: 100%;
  height: 500px;
}

ag-theme-alpine .ag-header-cell-text {
  text-align: center;
  justify-content: center;
}

.ag-header-cell-label {
  justify-content: center;
}
