@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,700;1,700&family=Shrikhand&display=swap');

.ag-theme-alpine {
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 175%;
  font-family: 'Shrikhand', cursive;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #e2ec4e;
  padding: 20px 0px;
}

ag-grid-angular {
  --ag-background-color: #128b22;
  --ag-foreground-color: #e2ec4e;
  --ag-odd-row-background-color: ;
  --ag-header-background-color: #128b22;
  font-family: 'Amaranth', sans-serif !important;
  text-align: center;
  width: 100%;
  height: 500px;
}

ag-theme-alpine .ag-header-cell-text {
  text-align: center;
  justify-content: center;
}
